<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetOrder</key>
		<real>483676047.31893098</real>
	</dict>
	<key>sheetOrder</key>
	<string>manual</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetOrder</key>
		<dict>
			<key>541a9d3adc2ac3579c7189a8192222399dbc01746b23dd1577f0a4a1c0e2ec4f</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
